@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

.nav-container {
    width: 80%;
    margin: auto;
    min-height: 20px;
    display: flex;
    flex-direction: row;
    padding: 25px 45px;
    align-items: center;
    position: relative;
}
.nav-title {
    position: relative;
    color: rgb(32, 28, 37);
}

.nav-title h2 {
    font-size: 1.7em;
}

.nav-title p {
    position: absolute;
    right: 0;
    font-size: 11px;
}

.nav-btn {
    display: none;
}

.nav-items {
    margin-left: auto;
    margin-right: auto;
}

.nav-items ul {
    display: flex;
    flex-direction: row;
}

.nav-items ul li {
    list-style: none;
    font-size: 16px;
    cursor: pointer;
    color: rgb(32, 28, 37);
}

.nav-items ul li a {
    text-decoration: none;
    color: rgb(32, 28, 37);
    transition: 0.7s;
}

.nav-items ul li a:hover {
    text-decoration: underline;
}

.nav-items ul li:not(:last-child) {
    margin-right: 25px;
}

.contact a {
    color: #909090;
    font-size: 22px;
    cursor: pointer;
}

.contact a:not(:last-child) {
    margin-right: 35px;
}

.hero-section {
    width: 80%;
    margin: 45px auto;
    padding: 45px;
    border-radius: 18px;
    position: relative;
    background: #159957;
    background: -webkit-linear-gradient(to right, #155799, #159957);
    background: linear-gradient(to right, #155799, #159957);
}

.hero-section h4 {
    font-size: 60px;
    color: #3d484e;
    opacity: 0.7;
    position: absolute;
    top: -10px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
}

.hero-section p {
    color: #fff;
}

.hero-text-1 {
    margin-bottom: 30px;
}

.hero-text p:nth-child(1) {
    font-size: 22px;
    letter-spacing: 1.11px;
    line-height: 25px;
}

.hero-text p:nth-child(2) {
    margin-top: 11px;
    line-height: 22px;
}

.products-section {
    width: 80%;
    margin: auto;
}

.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products-container h2 {
    text-align: center;
    font-size: 40px;
    color: #3d484e;
    opacity: 0.7;
    margin-top: 55px;
    margin-bottom: 18px;
}

.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    width: 400px;
    height: 400px;
    background-color: transparent;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 9px 16px 45px -23px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 9px 16px 45px -23px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 9px 16px 45px -23px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
}

.product :hover {
    box-shadow: 9px 16px 62px -29px rgba(0, 0, 0, 0.82);
    -webkit-box-shadow: 9px 16px 62px -29px rgba(0, 0, 0, 0.82);
    -moz-box-shadow: 9px 16px 62px -29px rgba(0, 0, 0, 0.82);
}

.product img {
    transform-origin: center;
    width: 100%;
    height: 100%;
    z-index: 99;
    transition: 0.3s;
}

.product:hover > img {
    transform: scale(1.5);
}

.product::after {
    content: "Buy Now";
    width: 100%;
    background-color: rgb(46, 142, 238);
    z-index: 999;
    height: 0;
    bottom: 0;
    position: absolute;
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    transition: 0.3s;
    color: transparent;
}

.product:hover::after {
    height: 40px;
    color: #fff;
}

.faq-section h2 {
    text-align: center;
    font-size: 40px;
    color: #3d484e;
    opacity: 0.7;
    margin-top: 55px;
    margin-bottom: 18px;
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
    width: 60%;
    margin: auto;
    height: min-content;
}

.accordion .accordion-item button[aria-expanded="true"] {
    border-bottom: 1px solid #03b5d2;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: #03b5d2;
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #03b5d2;
    border: 1px solid #03b5d2;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}
.accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded="true"] {
    color: #03b5d2;
}
.accordion button[aria-expanded="true"] .icon::after {
    width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
    opacity: 1;
    max-height: 164px;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
}

.credit-container {
    width: 100%;
    margin-top: 80px;
    background-color: rgb(32, 28, 37);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75px;
    font-size: 18px;
    text-align: center;
    padding: 8px;
}

.up {
    display: none;
}

/* Responsive Design */
@media (min-width: 1921px) {
    body {
        width: 100%;
    }
    .container {
        width: 1920px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
}

@media (max-width: 1440px) {
    .nav-container {
        width: 90%;
    }
    .hero-section {
        width: 85%;
    }

    .hero-section h4 {
        font-size: 50px;
        top: -10px;
    }

    .hero-section p {
        font-size: 14px;
    }

    .products-section {
        width: 85%;
    }

    .product {
        width: 300px;
        height: 300px;
    }

    .product::after {
        font-size: 15px;
    }
    .products-container h2 {
        font-size: 35px;
    }
    .faq-section h2 {
        font-size: 35px;
    }
    .accordion button {
        font-size: 15px;
    }
    .credit-container {
        font-size: 14px;
    }

    .accordion button[aria-expanded="true"] + .accordion-content {
        max-height: 1000px;
    }
}

@media (max-width: 1300px) {
    body {
        position: relative;
    }

    .nav-container {
        width: 100%;
    }

    .nav-items,
    .contact {
        position: absolute;
        background-color: #fff;
        width: 100%;
    }

    .nav-items {
        top: 85px;
        z-index: 3;
        width: 100%;
        left: 0px;
        transition: 0.5s;
    }

    .nav-items ul {
        flex-direction: column;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .nav-items ul li {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
    }

    .contact {
        top: 278px;
        z-index: 3;
        width: 100vw;
        left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 15px;
        transition: 0.5s;
    }

    .nav-btn {
        display: block;
        margin-left: auto;
    }

    .nav-btn i {
        font-size: 28px;
        transition: 0.5s;
        color: #303030;
    }

    .nav-btn i:hover {
        color: #424242;
    }

    .up {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-image: linear-gradient(
            to right top,
            #3465ad,
            #257bc0,
            #0f91d1,
            #00a6df,
            #12bceb
        );
        padding: 18px;
        border-radius: 8px;
        font-size: 25px;
        color: #fff;
        box-shadow: 0px 10px 17px -3px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
        
    }
    .up a{
        text-decoration: none;
        color: #fff;
    }

    .up:hover {
        background-image: linear-gradient(
            to left bottom,
            #3465ad,
            #257bc0,
            #0f91d1,
            #00a6df,
            #12bceb
        );
        box-shadow: 0px 10px 35px 9px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 1024px) {
    .product {
        width: 280px;
        height: 280px;
    }

    .product::after {
        height: 35px;
        font-size: 14px;
        color: #fff;
    }

    .product:hover::after {
        height: 35px;
        background-color: rgb(79, 157, 235);
    }
}

@media (max-width: 700px) {
    .nav-title h2 {
        font-size: 22px;
    }

    .nav-title p {
        font-size: 9px;
    }
}

@media (max-width: 520px) {
    .accordion-title p {
        width: 90%;
    }

    .product {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 490px) {
    .nav-title h2 {
        font-size: 16.5px;
    }

    .nav-title p {
        font-size: 7px;
    }
}
